
body {text-align: center;
  }
.cuadrado-color {background-color: #000000 }
h1 {font-family: Germania One;}
h1{
  color: #FF0000;
}
hr{
  height:5px;
  background-color:#ff0000;
  border:none;
}
p{
  color: #FF0000;
}
h2{
  color: #FF0000;
}
h3{
  color: #FF0000;
}
h4{
  color: #FF0000;
}
h5{
  color: #FF0000;
}
